/* css styles */

.github-stars {
  display: inline-block;
  font-size: 0.85em;
  color: #f1c40f;
  margin-left: 4px;
  font-weight: bold;
  transition: color 0.2s;
}

a:hover .github-stars {
  color: #f39c12;
}
